@font-face {
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata.ttf);
}

@font-face {
    font-family: "BerkshireSwash";
    src: url(../fonts/BerkshireSwash-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inconsolata";
}

img {
    display: block;
    width: 100%;
}

.main-header {
    padding: 0 20px;
}

.main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__link {
    color: #333;
}

.main-header__title {
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #ff6cab;
    font-family: "BerkshireSwash";
}

/* ============== MENU ==============*/
.main-nav {
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    z-index: 999999;
}

.menu {
    position: absolute;
    top: 180px;
    left: 0;
    background: #212121;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    text-align: center;
    margin: auto;
}

.menu__link {
    padding: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: .3s;
}

.menu__link:hover {
    background: lightgray;
    color: #212121;
}

.mostrar {
    opacity: 1;
    visibility: visible;
}

.icon-menu {
    font-size: 1.5em;
    border: 1px solid #454546;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
}

.main-header__btn {
    display: block;
    padding: 10px;
    color: #ff6cab;
    border: 1px solid #ff6cab;
    text-decoration: none;
}

.main-header__input {
    outline: none;
    display: block;
    padding: 10px;
    width: 50%;
}

.main {
    padding: 0 20px;
}

/* ============= SLIDER =============*/

.container-slider {
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 400%;
    height: 300px;
    margin-left: -100%;
}

.slider:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    z-index: 1;
}

.slider__section {
    width: 100%;
    position: relative;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background .25s;
    z-index: 999;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 999;
}

.slider__title {
    font-size: 2.5em;
    margin: 0;
}

.slider__txt {
    margin: 5px 0;
}

.btn-shop {
    display: block;
    border: 2px solid #ff6cab;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin: 20px auto;
    transition: .5s;
}

.btn-shop:hover {
    background: #ff6cab;
    color: white;
}

/*================ PRODUCTOS ================*/

.main-title{
    font-weight: 300;
    font-size: 2.5em;
}

.container-products {
    display: grid;
    grid-gap: 10px;
}

.container-products a{
    text-decoration: none !important;
    color: black !important;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}

.product:before {
    content: "Nuevo";
    background: #ff6cab;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: white;
}

.product__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product__title {
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color: black;
}

.producto__price {
    color: #777;
    text-decoration: none;
    text-decoration: line-through;
    font-size: 1.4em;
}

.new__price{
    color: #ff6cab;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8em;
    margin: 0 10px;
}

.product__icon {
    display: block;
    text-decoration: none;

    margin: 10px 0;
}

.container-editor {
    margin-top: 20px;
}

.container__testimonials {
    text-align: center;
    background: #F7F7F7;
    padding: 20px;
    margin: 20px 0;
}

.section__title {
    font-weight: 400;
    font-size: 2em;
}

.testimonial__title {
    font-weight: 500;
    color: #131212;
    font-size: 1em;
    letter-spacing: 1px;
}

.testimonial__title span{
    font-weight: 300;
    margin: 1em;
    color: #777;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.2px;
}

.testimonial__txt {
    margin: 0 auto;
    width: 70%;
    font-weight: 500;
    color: #777;
    font-size: .8em;
    line-height: 2em;
}

.editor__item {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.editor__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;

}

.editor__circle {
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -250px;
    right: -250px;
    color: white;
    padding: 20px 50px 70px 20px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0.5);
}

.editor__item:hover .editor__circle {
    transform: scale(1.2);
    bottom: -90px;
    right: -50px;
}

.editor__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: .5s;
}

.editor__item:hover:before {
    opacity: 1;
}

.container-tips {
    margin: 20px 0;
    text-align: center;
}

.tip i {
    font-size: 2em;
    color: #333;
    padding: 20px 0;
}

.tip .btn-shop {
    color: #333;
}

.tip .btn-shop:hover {
    color: white;
}

.main-footer {
    background: #151515;
    color: white;
    padding: 30px 20px;
}

.footer__title {
    border-bottom: 1px dotted #555;
    padding-bottom: 20px;
}

.footer__txt {
    color: #555;
}

.footer__link {
    color: #555;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.footer__input {
    display: block;
    width: 100%;
    background: #151515;
    padding: 20px;
    border: 1px solid #555;
    color: white;
    outline: none;
}

.copy {
    text-align: center;
    color: #555;
}

.link_social{
    font-size: 1.5em;
    margin: 0 20px;
    color: #ff6cab;
    text-decoration: none;
    transition: .5s;
}

.link_social:hover{
    color: white;
}

@media screen and (min-width:450px) {
    .product__img {
        height: 200px;
    }
}

@media screen and (min-width:520px) {
    .container-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ============ TABLET ============ */
@media screen and (min-width:590px) {
    .product__img {
        height: 250px;
    }
}

@media screen and (max-width:870px) {
    .link_social{
        display: block;
        margin: 20px;
    }
}

@media screen and (min-width:768px) {
    .slider {
        height: 400px;
    }

    .editor__item {
        height: 250px;
    }

    .product__img {
        height: 300px;
    }
}

@media screen and (min-width:890px) {
    .product__img {
        height: 250px;
    }

    .container-products {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ============ WEB ============ */
@media screen and (min-width:1024px) {
    .container {
        margin: auto;
    }

    .product__img {
        height: 250px;
    }

    .icon-menu {
        display: none;
    }

    .main {
        padding: 0 100px;
    }

    .main-header .container--flex {
        display: flex;
        align-items: center;
    }

    .main-header__container {
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .main-header__txt {
        width: 100%;
    }

    .main-header__container:nth-child(2) {
        order: -1;
        width: 25%;
    }

    .main-header__container:nth-child(3) {
        width: 25%;
        padding: 0 20px;
    }

    .main-header__title {
        width: 100%;
        font-size: 4em;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }

    .main-header__link {
        margin-bottom: 20px;
    }

    .main-header__btn {
        width: 130px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .main-header__input {
        width: 85%;
    }

    .main-nav {
        visibility: visible;
        opacity: 1;
        width: 100%;
        margin-top: 20px;
    }

    .menu {
        position: static;
        width: 100%;
        display: flex;
        background: none;
    }

    .menu__link {
        color: #333;
    }

    .menu__link:hover {
        background: white;
        color: #ff6cab;
        font-weight: bold;
    }

    .container-tips {
        display: flex;
        gap: 100px;
    }

    .container-products {
        grid-gap: 15px;
    }

    .container__testimonials {
        font-size: 1.3em;
    }

    .container-editor {
        display: flex;
        justify-content: space-between;
    }

    .editor__item {
        width: 48%;
        height: 300px;
    }

    .main-footer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
    }

    .copy {
        grid-column-start: span 5;
        text-align: center;
    }
}

@media screen and (min-width:1280px) {
    .main {
        padding: 0 200px;
    }

    .main-header__container:nth-child(3) {
        padding-left: 60px;
    }

    .slider {
        height: 500px;
        font-size: 1.5em;
    }

    .container-tips {
        gap: 150px;
    }
}

@media screen and (min-width:1600px) {
    .main-header__container:nth-child(3) {
        padding-left: 150px;
    }

    .slider {
        height: 600px;
    }

    .container-products {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }

    .product__img {
        height: 300px;
    }
}